:root {
  --black-color: #111111;
  --violet-color: #1e1823;
  --accent-color: #fd9222;
  --dark-white-color: #fafafa;
  --white-color: #ffffff;
  --button-bg-hover: #fcf1e0;
}

.new-chocolate-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new-chocolate-modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.new-chocolate-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    overflow: hidden;
    background-color: #FAFAFA;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .new-chocolate-modal {
        width: 538px;
        height: 412px;
    }
}

.new-chocolate-modal-backdrop.is-hidden .new-chocolate-modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.new-chocolate-modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.new-chocolate-modal-close-icon {
  stroke: var(--white-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new-chocolate-modal-close-button:hover .new-chocolate-modal-close-icon,
.new-chocolate-modal-close-button:focus .new-chocolate-modal-close-icon {
  stroke: var(--accent-color);
}

.new-chocolate-modal-content {
    padding: 32px 24px;
}

@media (min-width: 768px) {
  .new-chocolate-modal-content {
    padding: 40px;
}

}

.new-chocolate-modal-text {
    width: 298px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}

@media (min-width: 768px) {
    .new-chocolate-modal-text {
        width: 298px;
        font-size: 24px;
        line-height: 1.17;
        color: var(--black-color);
    }
}

.new-chocolate-modal-text-accent {
  color: var(--accent-color);
}

.new-chocolate-modal-form {
    display: flex;
    gap: 8px;
    margin-top: 28px;
    position: relative;
}
.new-chocolate-modal-input {
  padding: 14px 24px;
  width: 313px;
  height: 52px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: var(--black-color);
  background-color: transparent;
}

@media (max-width: 767px) {
    .new-chocolate-modal-input {
        font-size: 14px;
        line-height: 1.21;
    }
}

.new-chocolate-modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.new-chocolate-modal-input:hover .new-chocolate-modal-input:focus {
  outline-color: var(--accent-color);
}

.new-chocolate-modal-button {
  display: none;
  background: var(--accent-color);
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  border: none;
  padding: 17px 33px 18px 32px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new-chocolate-modal-button:hover,
.new-chocolate-modal-button:focus {
  background-color: var(--button-bg-hover);
  color: var(--accent-color);
}

.new-chocolate-modal-button2 {
  background: var(--accent-color);
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  border: none;
  padding: 17px 33px 18px 32px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .new-chocolate-modal-button {
    display: block;
  }

  .new-chocolate-modal-button2 {
    display: none;
  }
}
