<div class="backdrop is-hidden" data-modal>
  <div class="buy-now-modal">
    <button type="button" class="buy-now-close-btn" data-modal-close>
      <svg class="icon icon-buy-now-close" width="28" height="28">
        <use href="./img/buy-now-modal/close.svg#icon-buy-now-close"></use>
      </svg>
    </button>
    <h2 class="top-title-two">
      <span class="top-title-two-part">Buy</span> Now
    </h2>

    <ul class="modal-orders">
      <li class="modal-orders-item">
        <img
          src="./img/buy-now-modal/1buy-now@1x.jpg"
          alt="chocolate1"
          class="modal-orders-item-img"
        />
        <div class="item-weight">
          <p class="weight">100 g</p>
        </div>
      </li>
      <li class="modal-orders-item">
        <img
          src="./img/buy-now-modal/2buy-now@1x.jpg"
          alt="chocolate2"
          class="modal-orders-item-img"
        />
        <div class="item-weight">
          <p class="weight">200 g</p>
        </div>
      </li>
      <li class="modal-orders-item">
        <img
          src="./img/buy-now-modal/3buy-now@1x.jpg"
          alt="chocolate3"
          class="modal-orders-item-img"
        />
        <div class="item-weight">
          <p class="weight">300 g</p>
        </div>
      </li>
    </ul>

    <form class="buy-now-form">
      <fieldset class="form-contacts-group">
        <legend class="buy-form-label-name">Personal information</legend>
        <input
          type="text"
          class="buy-now-form-input"
          placeholder="Name"
          autocomplete="off"
        />
        <input
          type="email"
          class="buy-now-form-input surname"
          placeholder="Surname"
          autocomplete="off"
        />
      </fieldset>
      <div class="form-field">
        <label class="buy-form-label email">Email</label>
        <input
          type="email"
          class="buy-now-form-input"
          placeholder="Email"
          autocomplete="off"
        />
      </div>
      <div class="form-field telephone">
        <div class="flag-code">
          <svg class="icon-ukraine-flag" width="32" height="24">
            <use href="./img/buy-now-modal/close.svg#ukraine-flag"></use>
          </svg>
          <p class="code">+380</p>
        </div>

        <label class="buy-form-label phone">Phone number</label>
        <input
          type="tel"
          class="buy-now-form-input telephone"
          placeholder="Phone number"
          autocomplete="off"
        />
      </div>
      <div class="form-field card">
        <label class="buy-form-label card">Card number</label>
        <input
          type="number"
          class="buy-now-form-input"
          placeholder="Enter card"
          autocomplete="off"
        />
        <svg class="mastercard-icon-large" width="44  " height="30">
          <use
            href="./img/buy-now-modal/close.svg#icon-mastercard-large"
          ></use>
        </svg>
        <svg class="mastercard-icon-small" width="32" height="21">
          <use
            href="./img/buy-now-modal/close.svg#icon-mastercard-small"
          ></use>
        </svg>
      </div>
      <div class="form-field">
        <label class="buy-form-label comment">Comment</label>
        <textarea placeholder="Enter text" class="text-area"></textarea>
      </div>
      <button type="button" class="modal-submit-btn">Submit</button>
    </form>
  </div>
</div>

<!-- <source srcset="" media="(min-width:768px)">
            <source srcset="" media="(min-width:375px)"> -->
