<header id="header" class="main-header">
  <div class="page-header-container container">
    <nav class="header-nav">
      <a href="#header" class="logo-header"
        ><span class="logo-header-first">SIMPLY</span>&nbsp;CHOCOLATE</a
      >
      <ul class="menu-header">
        <li class="menu-header-item">
          <a class="menu-header-link" href="#header">Home</a>
        </li>
        <li class="menu-header-item">
          <a class="menu-header-link" href="#how-its-made"
            >How it&#39;s made?</a
          >
        </li>
        <li class="menu-header-item">
          <a class="menu-header-link" href="#our-products">Our products</a>
        </li>
        <li class="menu-header-item">
          <a class="menu-header-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="menu-header-item">
          <a class="menu-header-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-open js-open-menu" type="button">
      <svg class="mobile-menu-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <address class="address-header">
      <ul class="address-header-item">
        <li class="contact-header-item">
          <a
            class="contact-header-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-contact-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram-header"></use>
            </svg>
          </a>
        </li>
        <li class="contact-header-item">
          <a
            class="contact-header-link"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-contact-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-twitter-header"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>
