<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">CHOCOLATE</h1>
      <div class="hero-content">
        <p class="hero-description">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </p>
        <div class="hero-buttons-container">
          <div class="hero-buttons-list">
            <button class="hero-button-buy" type="button" data-modal-open>
              Buy now
            </button>
            <a class="hero-button-made" href="#how-its-made">
              How it&#39;s made
            </a>
          </div>
          <a class="hero-button-scroll" href="#footer">
            scroll down<svg class="hero-scroll-icon" width="16" height="16">
              <use href="./img/icons.svg#icon-scroll-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
