<section id="how-its-made" class="how-its-made">
  <div class="container">
    <div class="how-its-container">
      <h2 class="how-its-title">
        HOW IT'S <span class="how-its-title-yelow">MADE?</span>
      </h2>

      <div class="how-its-wrapper">
        <div class="how-its-img-wrapper">
          <iframe
            class="how-its-frame-blc"
            width="335"
            height="400"
            src="https://www.youtube.com/embed/ZB9pCCcuP24"
            title="SIMPLY CHOCOLATE"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="how-its-text-list">
          <p class="how-its-text-title">
            Try our chocolates today and discover the perfect balance of flavor
          </p>
          <ul class="how-its-list">
            <li class="how-its-list-item list">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </li>
            <li class="how-its-list-item list">
              At the same time, prepare a water bath. Melt the butter on it.
            </li>
            <li class="how-its-list-item list">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </li>
            <li class="how-its-list-item list">
              Heat the mixture over low heat, letting it barely boil.
            </li>
            <li class="how-its-list-item list">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
