<div class="new-chocolate-modal-backdrop is-hidden" data-new-chocolate-modal>
    <div class="new-chocolate-modal">
        <img src="./img/new-chocolate-modal-img.jpg" alt="">
        <button class="new-chocolate-modal-close-button" data-new-chocolate-modal-close>
            <svg class="new-chocolate-modal-close-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="new-chocolate-modal-content">
            <p class="new-chocolate-modal-text">Explore our <br> <span class="new-chocolate-modal-text-accent">new chocolate</span> first!</p>
            <form class="new-chocolate-modal-form">
                <input type="email" class="new-chocolate-modal-input" placeholder="Enter your email">
                <button type="submit" class="new-chocolate-modal-button">Subscribe</button>
                <button type="submit" class="new-chocolate-modal-button2">Submit</button>
            </form>
        </div>
    </div>
</div>
