<section id="our-products" class="our-product">
  <div class="container">
    <h2 class="our-product-title">
      OUR
      <span class="our-product-title-yellow">PRODUCTS</span>
    </h2>
    <div class="swiper mySwiper">
      <ul class="list our-product-swiper-wrapper swiper-wrapper">
        <li class="item our-product-swiper-slide swiper-slide">
          <img
            class="our-product-img"
            srcset="./img/our-product/Orange-chokolate-2x.jpg"
            src="./img/our-product/Orange-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">ORANGE</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">45 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Apple-chokolate-2x.jpg"
            src="./img/our-product/Apple-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">APPLE&amp;CRANBERRY</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">50 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Lime-chokolate-2x.jpg"
            src="./img/our-product/Lime-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">lime&amp;sea salt</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">66 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide our-product-item">
          <img
            class="our-product-img"
            srcset="./img/our-product/PineApple-chokolate-2x.jpg"
            src="./img/our-product/PineApple-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">pineapple</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">54 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Classic-milk-chokolate-2x.jpg"
            src="./img/our-product/Classic-milk-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Classic</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">45 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Honey-chokolate-2x.jpg"
            src="./img/our-product/Honey-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">honey</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">50 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Roasted-chokolate-2x.jpg"
            src="./img/our-product/Roasted-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Roasted fruits</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">66 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="./img/our-product/Classic-white-chokolate-2x.jpg"
            src="./img/our-product/Classic-white-chokolate.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Classic</p>
          <p class="our-product-text-chocolate">White chocolate</p>
          <button type="button" class="our-product-omg-price">54 UAH</button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
