<section class="top-sellers" id="top-sellers">
  <div class="container top-sellers-container">
    <!-- Заголовок -->
    <h2 class="top-title-two">
      <span class="top-title-two-part">Top</span> Sellers
    </h2>

    <!-- Контейнер для карточек -->
    <div class="top-products">
      <div class="top-card-one">
        <picture>
          <source 
            srcset="
              ./img/top-sellers/desk-1top-sellers@1x.jpg 1x,
              ./img/top-sellers/desk-1top-sellers@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tab-1top-sellers@1x.jpg 1x,
              ./img/top-sellers/tab-1top-sellers@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/top-sellers/1top-sellers@1x.jpg 1x,
              ./img/top-sellers/1top-sellers@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/1top-sellers@1x.jpg"
            alt="coffee-chocolate"
          />
        </picture>
      </div>
      <div class="top-text-cont">
        <p class="top-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </div>
      <div class="top-card-two">
        <picture>
          <source 
            srcset="
              ./img/top-sellers/desk-2top-sellers@1x.jpg 1x,
              ./img/top-sellers/desk-2top-sellers@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tab-2top-sellers@1x.jpg 1x,
              ./img/top-sellers/tab-2top-sellers@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/top-sellers/2top-sellers@1x.jpg 1x,
              ./img/top-sellers/2top-sellers@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/2top-sellers@1x.jpg"
            alt="coffee-chocolate"
          />
        </picture>
      </div>
      <div class="top-card-thtree">
        <picture>
          <source 
            srcset="
              ./img/top-sellers/desk-3top-sellers@1x.jpg 1x,
              ./img/top-sellers/desk-3top-sellers@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="top-sellers-img"
            src="./img/top-sellers/desk-3top-sellers@1x.jpg"
            alt="coffee-chocolate"
          />
        </picture>
      </div>
      <div class="btn-container">
        <button type="button" class="buy-now-btn" data-modal-open>Buy now</button>
      </div>
    </div>
  </div>
</section>
